{
    "plugins": ["syntax-flow", "transform-object-rest-spread", "external-helpers", "transform-runtime"],
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ], "flow"
    ]
}