{
    "plugins": ["transform-object-rest-spread", "external-helpers", "transform-runtime"],
    "presets": [
        ["env",
        {

            "modules": false,
            "targets":
            {
                "browsers": ["last 2 versions", "safari >= 7"]
            }

        }], "flow"
    ]
}